Repository trueberryless-org/mutanuq, pull requests merged in 2023-11, with the labels that each got.

#9 Start of the implementation of patterns
  starlight/astro.config.mjs
  starlight/src/content/docs/de/software_development/Erzeugungsmuster/Singleton.md
  starlight/src/content/docs/de/software_development/Strukturmuster/Adapter.md
Labels: enhancement

#28 new errors found
  .github/actions/spelling/allow/general.txt
  .github/actions/spelling/patterns.txt
  starlight/src/content/docs/de/economy_and_law/company_foundation.md
  starlight/src/content/docs/de/economy_and_law/marketing.md
  starlight/src/content/docs/de/languages/text_types/article.md
Labels: enhancement

#29 Update company_foundation.md
  .github/labeler.yml
  .github/workflows/labeler.yml
  starlight/src/content/docs/de/economy_and_law/company_foundation.md
Labels: 🚨 action, 📚 content

#34 Update button.md
  starlight/src/content/docs/en/embedded_programming/button.md
Labels: 📚 content, 🌏 i18n

#37 New Text Types
  .github/actions/spelling/allow/general.txt
  starlight/src/content/docs/de/languages/text_types/report.md
  starlight/src/content/docs/en/languages/text_types/report.md
Labels: 📚 content, 🌏 i18n, 🈳 dictionary

#38 Update comment.md
  starlight/src/content/docs/de/languages/text_types/comment.md
Labels: 📚 content

#40 Add System Integration and Infrastructure
  .github/actions/spelling/allow/general.txt
  starlight/astro.config.mjs
  starlight/src/assets/system_integration_and_infrastructure/Container_Structure.svg
  starlight/src/assets/system_integration_and_infrastructure/SAN-Aufbau.png
  starlight/src/assets/system_integration_and_infrastructure/Typ-1-Virtualisierung.png
  starlight/src/assets/system_integration_and_infrastructure/Typ-2-Virtualisierung.png
  starlight/src/assets/system_integration_and_infrastructure/backup-differential.png
  starlight/src/assets/system_integration_and_infrastructure/backup-full.png
  starlight/src/assets/system_integration_and_infrastructure/backup-incremental.png
  starlight/src/assets/system_integration_and_infrastructure/generationenprinzip.png
  starlight/src/content/docs/de/system_integration_and_infrastructure/backup_strategies.md
  starlight/src/content/docs/de/system_integration_and_infrastructure/storage_systems.md
  starlight/src/content/docs/de/system_integration_and_infrastructure/virtualisation.md
Labels: 📚 content, 🚧 astro, 📀 assets, 🈳 dictionary

#43 fix issue #42
  starlight/src/content/docs/de/economy_and_law/marketing.md
  starlight/src/content/docs/de/embedded_programming/timer.mdx
  starlight/src/content/docs/de/project_management/project_controlling.md
Labels: 📚 content

#39 New Text Type Text Analysis
  .github/actions/spelling/allow/general.txt
  starlight/src/content/docs/de/languages/text_types/text_analysis.md
Labels: 📚 content, 🈳 dictionary

#46 Update virtualisation.md
  starlight/src/content/docs/de/system_integration_and_infrastructure/virtualisation.md
Labels: 📚 content

#44 Update storage_systems.md
  starlight/src/content/docs/de/system_integration_and_infrastructure/storage_systems.md
Labels: 📚 content

#47 fix probably all, maybe most mistakes
  starlight/src/content/docs/de/decentralised_systems/durable_functions.md
  starlight/src/content/docs/de/economy_and_law/company_foundation.md
  starlight/src/content/docs/de/embedded_programming/button.md
  starlight/src/content/docs/de/embedded_programming/overview.md
  starlight/src/content/docs/de/languages/text_types/article.md
  starlight/src/content/docs/de/languages/text_types/letter_to_the_editor.md
  starlight/src/content/docs/de/languages/text_types/report.md
  starlight/src/content/docs/de/languages/text_types/summary.md
  starlight/src/content/docs/de/project_management/project_controlling.md
Labels: 📚 content

#48 Inhaltsfehler Konzentriertes Marketing
  starlight/src/content/docs/de/economy_and_law/marketing.md
Labels: 📚 content

#49 Update storage_systems.md
  starlight/src/content/docs/de/system_integration_and_infrastructure/storage_systems.md
Labels: 📚 content

#50 Add Linear Tape Open to Backup Strategies
  .github/actions/spelling/allow/general.txt
  starlight/src/assets/system_integration_and_infrastructure/LTO_Roadmap.jpg
  starlight/src/content/docs/de/system_integration_and_infrastructure/backup_strategies.md
Labels: 📚 content, 📀 assets, 🈳 dictionary

#52 Update storage_systems.md
  starlight/src/content/docs/de/system_integration_and_infrastructure/storage_systems.md
Labels: 📚 content

#53 clean up folders
  starlight/astro.config.mjs
  starlight/src/content/docs/de/languages/english/text_types/article.md
  starlight/src/content/docs/de/languages/english/text_types/blog.md
  starlight/src/content/docs/de/languages/english/text_types/email.md
  starlight/src/content/docs/de/languages/english/text_types/leaflet.md
  starlight/src/content/docs/de/languages/english/text_types/report.md
  starlight/src/content/docs/de/languages/german/text_types/comment.md
  starlight/src/content/docs/de/languages/german/text_types/essay.md
  starlight/src/content/docs/de/languages/german/text_types/letter_to_the_editor.md
  starlight/src/content/docs/de/languages/german/text_types/summary.md
  starlight/src/content/docs/de/languages/german/text_types/text_analysis.md
Labels: 📚 content, 🚧 astro

#54 fix english folder structure
  starlight/src/content/docs/en/languages/english/text_types/report.md
Labels: 📚 content, 🌏 i18n

#56 Software Development, rewrite Design Patterns
  .github/actions/spelling/allow/code_blocks.txt
  .github/actions/spelling/allow/general.txt
  starlight/astro.config.mjs
  starlight/src/content/docs/de/software_development/design_patterns.md
  starlight/src/content/docs/de/software_development/design_patterns/behavioral_design_patterns/chain_of_responsibility.md
  starlight/src/content/docs/de/software_development/design_patterns/behavioral_design_patterns/command.md
  starlight/src/content/docs/de/software_development/design_patterns/behavioral_design_patterns/iterator.md
  starlight/src/content/docs/de/software_development/design_patterns/behavioral_design_patterns/mediator.md
  starlight/src/content/docs/de/software_development/design_patterns/behavioral_design_patterns/memento.md
  starlight/src/content/docs/de/software_development/design_patterns/behavioral_design_patterns/observer.md
  starlight/src/content/docs/de/software_development/design_patterns/behavioral_design_patterns/state.md
  starlight/src/content/docs/de/software_development/design_patterns/behavioral_design_patterns/strategy.md
  starlight/src/content/docs/de/software_development/design_patterns/behavioral_design_patterns/template_method.md
  starlight/src/content/docs/de/software_development/design_patterns/behavioral_design_patterns/visitor.md
  starlight/src/content/docs/de/software_development/design_patterns/creational_design_patterns/abstract_factory.md
  starlight/src/content/docs/de/software_development/design_patterns/creational_design_patterns/builder.md
  starlight/src/content/docs/de/software_development/design_patterns/creational_design_patterns/factory_method.md
  starlight/src/content/docs/de/software_development/design_patterns/creational_design_patterns/prototype.md
  starlight/src/content/docs/de/software_development/design_patterns/creational_design_patterns/singleton.md
  starlight/src/content/docs/de/software_development/design_patterns/structural_design_patterns/adapter.md
  starlight/src/content/docs/de/software_development/design_patterns/structural_design_patterns/bridge.md
  starlight/src/content/docs/de/software_development/design_patterns/structural_design_patterns/composite.md
  starlight/src/content/docs/de/software_development/design_patterns/structural_design_patterns/decorator.md
  starlight/src/content/docs/de/software_development/design_patterns/structural_design_patterns/facade.md
  starlight/src/content/docs/de/software_development/design_patterns/structural_design_patterns/flyweight.md
  starlight/src/content/docs/de/software_development/design_patterns/structural_design_patterns/proxy.md
Labels: 📚 content, 🚧 astro, 🈳 dictionary

#57 Cleaner print layout
  starlight/astro.config.mjs
  starlight/src/styles/print.css
Labels: 🚧 astro, 🏯 styles

#55 Literature - Impressionism & Expressionism
  .github/actions/spelling/allow/general.txt
  starlight/astro.config.mjs
  starlight/src/assets/languages/dreischichtige_menschliche_persoenlichkeit.png
  starlight/src/content/docs/de/languages/german/literature/expressionism.md
  starlight/src/content/docs/de/languages/german/literature/impressionism.md
Labels: 📚 content, 🚧 astro, 📀 assets, 🈳 dictionary

#58 make print even better
  starlight/src/styles/print.css
Labels: 🏯 styles

#59 Improve Imressionism and add many authors and Lyrik to Expressionism
  .github/actions/spelling/allow/blockquotes.txt
  .github/actions/spelling/allow/general.txt
  starlight/src/content/docs/de/languages/german/literature/expressionism.md
  starlight/src/content/docs/de/languages/german/literature/impressionism.md
Labels: 📚 content, 🈳 dictionary

#60 fix all code blocks tabs
  starlight/src/content/docs/de/decentralised_systems/azure_functions.md
  starlight/src/content/docs/de/decentralised_systems/durable_functions.md
  starlight/src/content/docs/de/embedded_programming/adc.md
  starlight/src/content/docs/de/embedded_programming/basic_program.md
  starlight/src/content/docs/de/embedded_programming/button.md
  starlight/src/content/docs/de/embedded_programming/eeprom.md
  starlight/src/content/docs/de/embedded_programming/lcd.md
  starlight/src/content/docs/de/embedded_programming/led.md
  starlight/src/content/docs/de/embedded_programming/timer.mdx
  starlight/src/content/docs/de/embedded_programming/usart.md
  starlight/src/content/docs/en/embedded_programming/basic_program.md
  starlight/src/content/docs/en/embedded_programming/button.md
  starlight/src/content/docs/en/embedded_programming/eeprom.md
  starlight/src/content/docs/en/embedded_programming/lcd.md
  starlight/src/content/docs/en/embedded_programming/led.md
  starlight/src/content/docs/en/embedded_programming/usart.md
Labels: 📚 content, 🌏 i18n

#61 Expressionism
  .github/actions/spelling/allow/blockquotes.txt
  .github/actions/spelling/allow/general.txt
  starlight/src/content/docs/de/languages/german/literature/expressionism.md
Labels: 📚 content, 🈳 dictionary

#62 dadaismus
  .github/actions/spelling/allow/blockquotes.txt
  .github/actions/spelling/allow/general.txt
  starlight/src/assets/languages/fisches_nachtgesang.jpg
  starlight/src/content/docs/de/languages/german/literature/expressionism.md
  starlight/src/content/docs/de/languages/german/literature/impressionism.md
Labels: 📚 content, 📀 assets, 🈳 dictionary
